.input-container{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.retailer-button-container{
    label{
        input[type=radio]{
            opacity: 0;
            width: 0px;
            height: 0px;
            position: absolute;
    
        }
        img{
            width: 100px;
            height: 100px;
            object-fit:contain;
            border-radius: 50%;
            border: .2px black solid;
            transition: 200ms all;
        }
    }
}

.retailer-button-container{
    label:hover{
        cursor: pointer;
        img{
            border: .2px lightseagreen solid;
        }
    }
}

.retailer-button-container{

    label{
        input[type=radio]:checked + img{
            border: .2px lightgreen solid ;  
        }
    }
}
