.img-button-container{
    border: .2px lightblue solid;
    background-color: transparent;


    .button-img{
        width: 80px;
        height: 80px;
    }
}

.img-button-container:hover{
    cursor: pointer;
    border: .2px lightslategray solid;
}